
.ipynb_checkpoints/Galanos_Kyrkos_Saltos_TA_1st_Assignment-checkpoint.ipynb
Galanos_Kyrkos_Saltos_TA_1st_Assignment_Report.synctex.gz
Galanos_Kyrkos_Saltos_TA_1st_Assignment_Report.log
Galanos_Kyrkos_Saltos_TA_1st_Assignment_Report.aux
.idea/
__pycache__/kneser_ney.cpython-37.pyc
